<component name="libraryTable">
  <library name="MidiMapper">
    <CLASSES />
    <JAVADOC>
      <root url="file://$PROJECT_DIR$/../../../Processing/libraries/controlP5/reference" />
    </JAVADOC>
    <SOURCES>
      <root url="file://$PROJECT_DIR$/../../../Processing/libraries/controlP5/examples/experimental/MidiMapper" />
      <root url="file://$PROJECT_DIR$/../../../Processing/libraries/controlP5/src" />
    </SOURCES>
  </library>
</component>